<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TBC Final Project Suite" parallel="tests" thread-count="4">

    <test name="Chromium Tests">
        <parameter name="browserType" value="chromium"/>
        <parameter name="browserSize" value="1920x1080"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TbcAtmFilterTest"/>
            <class name="ge.tbc.testautomation.tests.TbcSearchTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLoanValidationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcOffersTest"/>
            <class name="ge.tbc.testautomation.tests.TbcTechSchoolNavigateToRegistrationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLocationSqlTest"/>
        </classes>
    </test>

    <test name="Firefox Tests">
        <parameter name="browserType" value="firefox"/>
        <parameter name="browserSize" value="1920x1080"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TbcAtmFilterTest"/>
            <class name="ge.tbc.testautomation.tests.TbcSearchTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLoanValidationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcOffersTest"/>
            <class name="ge.tbc.testautomation.tests.TbcTechSchoolNavigateToRegistrationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLocationSqlTest"/>
        </classes>
    </test>

    <test name="WebKit Tests">
        <parameter name="browserType" value="webkit"/>
        <parameter name="browserSize" value="1920x1080"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TbcAtmFilterTest"/>
            <class name="ge.tbc.testautomation.tests.TbcSearchTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLoanValidationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcOffersTest"/>
            <class name="ge.tbc.testautomation.tests.TbcTechSchoolNavigateToRegistrationTest"/>
            <class name="ge.tbc.testautomation.tests.TbcLocationSqlTest"/>
        </classes>
    </test>

    <test name="Mobile Tests">
        <parameter name="browserType" value="chromium"/>
        <parameter name="browserSize" value="375x812"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.TbcSearchTest"/>
        </classes>
    </test>

    <test name="API Tests">
        <parameter name="browserType" value="chromium"/>
        <parameter name="browserSize" value="1920x1080"/>
        <classes>
            <class name="ge.tbc.testautomation.tests.api.TbcApiHappyPathTest"/>
            <class name="ge.tbc.testautomation.tests.api.TbcApiNegativeTest"/>
            <class name="ge.tbc.testautomation.tests.api.TbcApiUiConsistencyTest"/>
        </classes>
    </test>


</suite>